body {
  background: #B3B3B3 ;
  font-size: 150% ;
  margin: 4% ;
}

header {
  background: rgb(102 , 102 , 102) ;
  text-align: center ;
  padding: 15px ;
}

h1 {
  color: #FFFFFF ;
}

nav {
  font-variant: small-caps ;
  font-size: 150% ;
  font-family: Arial , "Time New Roman" , serif ;
}

section {
  width: 30% ;
  display: inline-block ;
  float: left ;
  margin-right: 2% ;
}

h2 {
  color: rgb(255 , 0 , 0) ;
  background: #00B7EA ;
}

details {
  font-style: italic ;
}

summary {
  font-style: normal ;
}

footer {
  background: rgb(102 , 102 , 102) ;
  clear: both ;
}

img {
  width: 125px ;
  margin: 5px ;
}
